<div class="background-container">
  <div class="container">
    <!-- dashboard.component.html -->
  <div class="upload" *ngIf="fileUploaded">
    <label for="file">Cambiar de archivo</label>
    <input  type="file" name="file" (change)="onFileSelected($event)" accept=".csv">
  </div>
  
  <div *ngIf="!fileUploaded">
  <label for="file">Subir archivo CSV</label>
  <input type="file" (change)="onFileSelected($event)" accept=".csv">
  </div>
  
  <section class="section-res">
  <div class="rest">
  <p>El estado con menor acomulado a la fecha es <span>{{minEs}}</span> con un total de <span>{{minVal}}</span> muertes.</p>
  </div>
  
  <div class="rest">
  <p>El estado con mayor acomulado a la fecha es <span>{{maxEs}}</span> con un total de <span>{{maxVal}}</span> muertes.</p>
  </div>
  
  <div class="rest">
  <p>El estado mas afectado a la fecha es <span>{{estateBad}}</span> ya que posee un porcentaje de mortalidad vs poblacion del <span>{{estateBadVal}}%</span> siendo el mas alto de todos los estados.</p>
  </div>
  </section>
  
  
  <!-- {{chartOptions | json}} -->
  
  <div id="chart">
  <apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [stroke]="chartOptions.stroke"
  [dataLabels]="chartOptions.dataLabels"
  [yaxis]="chartOptions.yaxis"
  [labels]="chartOptions.labels"
  [legend]="chartOptions.legend"
  [title]="chartOptions.title"
  [subtitle]="chartOptions.subtitle"
  ></apx-chart>
  </div>
  
  
  
  <app-data-display *ngIf="fileUploaded" [csvData]="csvData"></app-data-display>
  
  
  
  </div>
</div>