<section class="login">   

  <img class="logo" src="/assets/img/logo.png" alt="alien" >

    <div class="form">
      
      <h2 >Iniciar sesión</h2>

        <form>  

          <div class="input-container">
            <input class="input" [(ngModel)]="this.user"  placeholder=" " type="text" name="correo" required>
            <label class="placeholder" for="correo">Usuario</label>    
          </div>
 
          <div class="input-container">
            <input class="input" [(ngModel)]="pass" placeholder=" " type="password" name="pass" #passInput required minlength="8">
            <label class="placeholder" for="pass">Contraseña</label>
          </div>

          <div class="div-button">
              <input class="input-button" (click)="login()" value="Ingresar" type="submit">
          </div>
          
        </form>

    </div>

</section>
